.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f2f2f2;
}

.header {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.logo {
  width: 228px;
  height: 32px;
}

.header__title {
  padding: 0;
  margin: 0;
  max-width: 730px;
  margin-left: 64px;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  margin: 0;
  padding: 0;
  max-width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
  object-fit: cover;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}

.description {
  background-color: white;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  margin: 0;
  padding: 0;
  color: #2f80ed;
  max-width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 748px;
}

.two-columns__paragraph {
  padding: 0;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  font-weight: 600;
}

.two-columns__paragraph:nth-child(2) {
  margin: 30px 0;
}

.digits {
  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  width: 60%;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
}

.section-subtitle {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 1100px;
  flex-wrap: wrap;
}

.table__cell {
  list-style-type: none;
  padding: 0;
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
}

.table__text {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.feynman {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 890px;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: 0 100%;
  /* margin-top: 100px; */
  text-align: center;
}

.feynman__title {
  width: 648px;
  margin: 0 auto;
  font-size: 120px;
  line-height: 1.15;
  font-weight: 600;
  padding-top: 100px;
}

.feynman__subtitle {
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}

.kaufman {
  padding: 0;
  background-color: #1f1f1f;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark,
.section-subtitle_theme_dark,
.table_theme_dark {
  color: white;
  z-index: 3;
}

.section-title_theme_dark {
  margin: 0;
  padding: 0;
  margin-top: 90px;
}

.section-subtitle_theme_dark {
  margin: 0;
  padding: 0;
}

.table_theme_dark {
  margin: 0;
  padding: 0;
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  list-style-type: none;
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  margin: 0;
  padding: 0;
}

.kaufman__triangle {
  margin: 0;
  padding: 0;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  right: -210px;
  top: 0;
  height: 877px;
  width: 877px;
  z-index: 1;
}

.footer {
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
  color: white;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  min-height: 250px;
  padding: 0;
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: auto;
}

.footer__column-content_copyright {
  flex-basis: 711px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 0;
  padding: 0;
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-link {
  color: white;
  padding: 0;
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-right: 10px;
  text-decoration: none;
  list-style-type: none;
}

.footer__column-links,
.footer__social-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0 16px 0;
  padding: 0;
}